body {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    background-color:rgb(35,76,75);
}

h1 {
    background-color: rgb(181,207,201);
    color:black;
    border-radius: 12px;
    border: solid black 2px;
    padding:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-tile { 
    display:flex;
    width:480px;
    height:480px;
    flex-flow:row wrap;
    border:2px solid black;
    justify-content:space-evenly;
}

.tile {
    background-color:rgb(181,207,201);
}

.colored {
    background-color:black;
}