body {
    display:flex;
    background-color:rgb(145,70,61);
    margin:0;
}

.center {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}

.sidebar {
    flex:1;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:flex-start;
}

button {
    margin:16px;
    border-radius:6px;
    border:solid black 2px;
    width:60px;
    background-color:rgb(181,207,201);
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
}

h1 {
    margin:20px;
    padding:10px;
    border-radius:6px;
    border: solid black 2px;
    background-color:rgb(181,207,201);
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-tile { 
    display:flex;
    width:480px;
    height:480px;
    margin:0px;
    flex-flow:row wrap;
    border:2px solid black;
    justify-content:space-evenly;
}

.tile {
    background-color:rgb(181,207,201);
}

.colored {
    background-color:black;
}