body {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}

.container-tile { 
    display:flex;
    width:480px;
    height:480px;
    flex-flow:row wrap;
    border:2px solid black;
    justify-content:space-evenly;
}

.tile {
    background-color:ghostwhite;
}